.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #000 #fff;
  }
  
  
  /* For Chrome, EDGE, Opera, Others */
  .scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  
  .scrollbar::-webkit-scrollbar-track { 
    background: #CED0CE;
    border-radius: 5px;
  }
  
  .scrollbar::-webkit-scrollbar-thumb { 
    background:rgb(68 64 60);
    border-radius: 5px;
  }